@keyframes rotate {
    from {
        transform: translate(-50%, 200%) rotate(0deg);
    }
    to {
        transform: translate(-50%, 200%) rotate(360deg);
    }
}

.loader {
    animation: rotate 1s linear infinite;
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
}
